bucket         = "r-fukuda-terraform-state"
key            = "stg/03_compute_ec2/terraform.tfstate"
region         = "ap-northeast-1"
dynamodb_table = "r-fukuda-terraform-state-lock"
encrypt        = true
